<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemplateCoreBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TemplateCoreBusiness.Properties.Settings>
            <setting name="SERVER_IP" serializeAs="String">
                <value>192.116.98.61</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="DATA_BASE_NAME" serializeAs="String">
                <value>TemplateCore</value>
            </setting>
            <setting name="USER_ID" serializeAs="String">
                <value>orho</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>Aa123456</value>
            </setting>
        </TemplateCoreBusiness.Properties.Settings>
    </applicationSettings>
</configuration>