.center-display-block {
    display: flex;
    justify-content: center;
}

.template-property-wrapper {
    display: flex;
    flex-direction: row;
}

.template-property {
    width: 320px;
    height: 40px;
    justify-content: center;
}

    .template-property:hover {
        color: #067c8d;
        font-size: 1.40rem;
        cursor: pointer;
    }

.server-rating {
    width: 150px;
    justify-content: center;
}

.property-name-text {
    width: 130px;
}

.property-div-wrapper {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
}

.template-content-wrapper {
    display: flex;
    flex-direction: row;
}

.template-content-data {
    width: 700px;
}

.place-holder-wrapper {
    width: 220px;
    margin: 5px;
}

.create-template-input-size {
    width: 100% !important;
}