.center-display-block {
    display: flex;
    justify-content: center;
}

.template-property-wrapper {
    display: flex;
    flex-direction: row;
}

.template-property {
    width: 220px;
}

.server-rating {
    width: 150px;
    justify-content: center;
}
