.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../Images/hand-writing.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 98vh;
    overflow: hidden;
}

.log-in button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}